In [6]:
a = [1, 3.1415926, 3, 4, 5, 6]
b=a.copy()
print(a)
print(b)
print(id(a))
print(id(b))
print(id(a[1]))
print(id(b[1]))
a[1]=3
print(a)
print(b)
print(id(a[1]))
print(id(b[1]))

[1, 3.1415926, 3, 4, 5, 6]
[1, 3.1415926, 3, 4, 5, 6]
490905816200
490880245384
490877193720
490877193720
[1, 3, 3, 4, 5, 6]
[1, 3.1415926, 3, 4, 5, 6]
140714292932416
490877193720

In [7]:
t = 1,
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [10]:
a = [1, 2, 3, 4, 5, 6]
print(a)
print(id(a))
a.insert(4, "chen")
print(a)
print(id(a))

[1, 2, 3, 4, 5, 6]
490880061640
[1, 2, 3, 4, 'chen', 5, 6]
490880061640

In [11]:
t1 = (1, 2, 3, 4, 4)
t2 = (5, 6, 7, 8)
t3 = t1 + t2
print(t1)
print(id(t1))
print(t2)
print(id(t2))
print(t3)
print(id(t3))

(1, 2, 3, 4, 4)
490905801480
(5, 6, 7, 8)
490906026056
(1, 2, 3, 4, 4, 5, 6, 7, 8)
490906071472

In [29]:
indx = 0
t = ((1, 2, 3), (4, 5, 6), ("chen", "jun", "ling", "zui", "bang"))
for i in t:
    print(type(t[indx]))
    for j in t[indx]:
        print(j, end = " ")
    print(end = "\n")
    indx+=1

<class 'tuple'>
1 2 3
<class 'tuple'>
4 5 6
<class 'tuple'>
chen jun ling zui bang

In [14]:
indx = 0
t = ((1, 2, 3), (4, 5, 6), ("chen", "jun", "ling"))
print(t(0))

TypeError: 'tuple' object is not callable